# Python/uv artifacts
.venv/
*.egg-info
__pycache__

# Generated code
/stubs/
/fastly_compute/exceptions/*
!/fastly_compute/exceptions/__init__.py
/fastly_compute/runtime_patching/patches.py

# Build artifacts
/build/
bin/

# Rust
target/
*.so
